<form id="form">
    <input placeholder="Your name" name="name" [(ngModel)]="name">
    <input placeholder="Phone" type="tel" name="phone" [(ngModel)]="phone">
    <input placeholder="E-mail" type="email" name="mail" [(ngModel)]="mail">
    <input placeholder="Short message" name="msg" [(ngModel)]="msg"><br>
    <input id = "inputButton" type="submit" value="send" (click)="creatMsg(name, mail, phone, msg)">
  </form>